.privacyPolicySection {
    color: #ffffff;
    display: flex;
    flex-direction: column;
    margin: 10px;
    justify-content: center;
    align-items: center;
}

#privacyPolicyText h1 {
    color: var(--color-primary1);
}

.privacyPolicySection a {
    margin-bottom: 10px;
}

.privacyPolicySection h1,
h2,
h3,
h4 {
    margin-bottom: 10px;
}

.privacyPolicySection h2 {
    font-size: 22px;
    color: #bcbc7a;
}

.privacyPolicySection p {
    color: #a49e9e;
    margin-bottom: 5px;
}

.privacyPolicySection li {
    margin-bottom: 5px;
}