@media (orientation: portrait) {
    .heroSection {
        height: 90vh;
    }
}

@media (max-width: 1600px) {
    .greenShadowHeroSection {
        right: -32%;
    }

    .purpleShadowHeroSection {
        left: -25%;
    }

    /* ---aboutSection--- */
    .aboutGlow {
        width: 900px;
    }
}

@media (max-width: 1400px) {
    .aboutCharacter {
        top: 9%;
    }
}

@media (max-width: 1300px) {

    .ownNameHeader div p:nth-child(1) {
        font-size: 115px;
    }

    p {
        font-size: 16px;
    }

    /* ---aboutSection--- */

    .aboutCharacter {
        width: 550px;
        left: 5%;
    }

    /* ---aboutSection--- */
    .aboutGlow {
        top: 25px;
    }
}

@media (max-width: 1200px) {
    h2 {
        font-size: 80px;
    }

    .ownNameHeader div p:nth-child(1) {
        font-size: 90px;
    }

    .ownNameHeader div p:nth-child(2) {
        font-size: 45px;
    }

    .ownNameHeader .iam {
        font-size: 55px;
    }

    /* ---aboutSection--- */
    .aboutContent {
        max-width: 480px;
    }
}

@media (max-width: 1100px) {
    ::-webkit-scrollbar {
        display: none;
    }

    html {
        -ms-overflow-style: none;
        /* Internet Explorer 10+ */
        scrollbar-width: none;
        /* Firefox, Safari 18.2+, Chromium 121+ */
    }

    h2 {
        font-size: 70px;
    }

    section {
        padding-left: 60px;
        padding-right: 60px;
    }

    header {
        padding-left: 60px;
        padding-right: 60px;
    }

    .arkDesignLogo {
        width: 140px;
    }

    .footer {
        padding: 60px 50px;
    }

    .nameLogo {
        margin-left: 10px;
    }

    .burgerNavbar {
        display: flex;
        cursor: pointer;
        align-items: center;
    }

    .headerLimiter {
        position: relative;
    }

    nav {
        position: absolute;
        display: flex;
        flex-direction: column;
        z-index: 4;
        margin: 0;
        width: 100vw;
        height: 90vh;
        top: 75px;
        left: 1100px;
        justify-content: center;
        align-items: center;
        background-color: #414956ed;
        transition: 0.6s;
    }

    .navBarDisplay_none {
        display: none;
    }

    .languageToggle img {
        width: 45px;
        height: 40px;
    }

    .languageDivider {
        display: flex;
        font-size: 32px;
    }

    .navMenu {
        font-size: 33px;
        display: flex;
        align-items: flex-start;
        gap: 29px;
    }

    nav ul {
        flex-direction: column;
    }

    .contactNavlink {
        display: flex;
    }

    /* ---heroSection--- */
    .ownNameHeader {
        gap: 35px;
    }

    .ownNameHeader div p:nth-child(1) {
        font-size: 80px;
    }

    .ownNameHeader div p:nth-child(2) {
        font-size: 35px;
    }

    .ownNameHeader .iam {
        font-size: 55px;
        left: 20px;
    }

    .greenShadowHeroSection {
        z-index: -1;
        filter: blur(10px);
        left: 70%;
        top: 25%;
    }

    .purpleShadowHeroSection {
        z-index: -1;
        filter: blur(10px);
        left: -20%;
        top: 5%;
    }

    /* ---aboutSection--- */
    #aboutSection {
        padding-left: 30px !important;
    }

    .aboutHeading {
        margin-bottom: 10px;
    }

    .aboutContent {
        width: 445px;
    }

    .aboutTextBlock {
        margin-bottom: 25px;
    }

    .aboutFeatures {
        gap: 20px;
    }

    .aboutCharacter {
        width: 510px;
        left: 6%;
    }

    /* ---skillsSection--- */
    .skillsSectionLimiter {
        gap: 13%;
    }

    .iconsDiv {
        gap: 60px;
    }

    /* ---portfolioSection--- */

    .laptopPreviewOverlayText h3 {
        font-size: 22px;
    }

    .laptopPreviewOverlayText p {
        font-size: 16px;
    }

    .githubButton,
    .liveDemoButton {
        font-size: 16px;
    }

    .portfolioCard:hover .laptopPreview {
        transform: none;
    }

    .portfolioCard:hover .laptopPreviewHoverOverlay {
        display: none !important;
    }

    .portfolioCard.overlayActive .laptopPreviewHoverOverlay {
        display: flex !important;
    }

    .portfolioCard.overlayActive .laptopPreview {
        transform: scale(2);
    }

    .portfolioCard {
        cursor: pointer;
    }
}

@media (max-width: 950px) {
    h2 {
        font-size: 80px;
    }

    p {
        font-size: 16px;
    }

    /* ---aboutSection--- */

    .aboutSection {
        padding-top: 0;
    }

    .aboutSectionLimiter {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        padding-top: 10px;
    }

    .aboutCharacterWrapper {
        position: relative;
        left: 0;
        top: 30px;
    }

    .aboutContent {
        max-width: 100%;
        width: 100%;
        margin-top: 40px;
    }

    .aboutHeading {
        width: 100%;
    }

    .aboutFeatures {
        width: 550px;
    }

    .aboutTextBlock {
        width: 100%;
    }

    .aboutCharacter {
        width: 550px;
    }

    .aboutGlow {
        width: 750px;
        top: 70px;
    }

    .aboutWave {
        bottom: -14%;
    }

    /* ---skillsSection--- */

    .skillsSection {
        background-color: #141e30;
        background: #141e30;
    }

    .skillsSectionLimiter {
        flex-direction: column-reverse;
        gap: 50px;
    }

    .skillsContent {
        width: 100%;
    }

    .skillsLookingFor {
        display: none;
    }

    .skillsLookingForMobileVers {
        display: flex;
        text-align: center;
    }

    .skillIcon {
        width: 90px;
        height: 90px;
    }

    .capaIcon {
        display: none;
    }

    .capaIconMobile {
        display: flex;
    }

    /* ---portfolioSection--- */
    .portfolioSection {
        padding-top: 30px;
    }

    .portfolioHeader {
        margin-bottom: 30px;
    }

    .portfolioGrid {
        flex-direction: column;
        align-items: center;
    }

    .portfolioGrid>div {
        align-items: center;
        gap: 30px;
    }

    .portfolioGlowBlue {
        right: -10px;
        top: 70px;
        z-index: 0;
        width: 300px;
    }

    .laptopPreviewOverlayText h3 {
        font-size: 33px;
    }

    .laptopPreviewOverlayText p {
        font-size: 24px;
    }

    .githubButton,
    .liveDemoButton {
        font-size: 24px;
    }

    /* ---contactSection--- */

    .contactContent>div:nth-child(1) {
        flex-direction: column;
        align-items: center;
        gap: 25px;
    }

    .contactForm {
        position: relative;
    }

    .contactHeadingRow::after {
        right: -77%;
    }

    .contactLeftAccent {
        left: -76%;
    }

    .contactGlow {
        top: 21%;
        width: 400px;
    }

    /* ----------------------legalContent--------------------------- */

    .headingWithStripe,
    .legalNoticeHeadingContainer {
        grid-template-columns: auto 1fr;
        padding-left: calc(50vw - 50%);
    }

    .headingWithStripe::before,
    .legalNoticeHeadingContainer::before {
        display: none;
    }

}

@media (max-width: 850px) {
    header {
        padding-left: 60px;
        padding-right: 60px;
    }

    /* ---heroSection--- */
    .ownNameHeader {
        gap: 20px;
    }

    .ownNameHeader div p:nth-child(1) {
        font-size: 60px;
    }

    .ownNameHeader div p:nth-child(2) {
        font-size: 30px;
    }

    .ownNameHeader .iam {
        font-size: 40px;
        padding: 0px;
        padding-bottom: 8px;
        top: 6px;
        left: -5px;
    }

    .purpleShadowHeroSection {
        left: -30%;
    }

    .portfolioHeading::before {
        left: -41%;
    }

    /* ---portfolioSection--- */

    .portfolioHeading::before {
        left: -41%;
    }

    .laptopPreviewOverlayText h3 {
        font-size: 28px;
    }

    .laptopPreviewOverlayText p {
        font-size: 19px;
    }

    .githubButton,
    .liveDemoButton {
        font-size: 19px;
    }
}

@media (max-width: 700px) {
    h2 {
        font-size: 70px;
    }

    .arkDesignLogo {
        width: 110px;
    }

    section {
        padding-left: 40px;
        padding-right: 40px;
    }

    /* ---heroSection--- */

    .ownNameHeader div p:nth-child(1) {
        font-size: 50px;
    }

    .ownNameHeader div p:nth-child(2) {
        font-size: 25px;
    }

    .ownNameHeader .iam {
        font-size: 35px;
        top: 4px;
    }

    .purpleShadowHeroSection {
        width: 400px;
    }

    .greenShadowHeroSection {
        width: 400px;
        top: 32%;
    }

    .lineOne {
        width: 150px;
    }

    /* ---aboutSection--- */

    .aboutCharacter {
        width: 450px;
    }

    .aboutWave {
        bottom: -10%;
    }

}

@media (max-width: 650px) {
    h2 {
        font-size: 60px;
    }

    p {
        font-size: 16px;
    }

    section {
        padding-left: 30px;
        padding-right: 30px;
    }

    /* ---aboutSection--- */

    .aboutWave {
        bottom: -4%;
    }

    .aboutCharacter {
        width: 350px;
    }

    .aboutGlow {
        width: 550px;
        top: 60px;
    }

    /* ---skillsSection--- */

    .skillsSection {
        padding-top: 40px;
    }

    /* ---portfolioSection--- */

    .portfolioGrid>div {
        width: 95%;
    }

    /* ---------footer ----------- */

    .footerLimiter {
        flex-direction: column;
        gap: 25px;
    }

    .d_noneMedia {
        display: none;
    }

    .d_Flex_Media {
        display: flex;
    }


    .footer {
        padding: 45px 25px;
    }

}

@media (max-width: 560px) {
    header {
        padding-left: 40px;
        padding-right: 40px;
    }

    /* ---heroSection--- */
    .ownNameHeader {
        padding: 0 8px 0 0;
    }

    .ownNameHeader div p:nth-child(1) {
        font-size: 40px;
    }

    .ownNameHeader div p:nth-child(2) {
        font-size: 15px;
    }

    .ownNameHeader .iam {
        font-size: 25px;
        padding: 0px;
    }

    .purpleShadowHeroSection {
        width: 400px;
        left: -44%;
    }

    .greenShadowHeroSection {
        width: 400px;
        top: 32%;
    }

    .lineOne {
        width: 100px;
    }

    /* --------aboutSection-------- */

    .aboutFeatures {
        width: 400px;
    }

    .aboutWave {
        bottom: -1%;
    }

    /* --------skillsSection-------- */

    .iconsDiv {
        gap: 60px;
    }



    /* ---portfolioSection--- */

    .laptopPreviewOverlayText h3 {
        font-size: 24px;
    }

    .laptopPreviewOverlayText p {
        font-size: 17px;
    }

    .githubButton,
    .liveDemoButton {
        font-size: 17px;
    }

    .laptopPreviewOverlayText {
        height: 60%;
    }

    .laptopPreviewOverlayButtons {
        height: 40%;
    }

    /* --------contactSection-------- */

    .contactHeadingRow::after {
        right: -78%;
    }

}

@media (max-width: 500px) {
    /* ---portfolioSection--- */

    .laptopPreviewOverlayText h3 {
        font-size: 22px;
    }

    .laptopPreviewOverlayText p {
        font-size: 16px;
    }

    .githubButton,
    .liveDemoButton {
        font-size: 16px;
    }
}

@media (max-width: 470px) {

    h2 {
        font-size: 45px;
    }

    .arkDesignLogo {
        width: 80px;
    }

    section {
        padding-left: 25px;
        padding-right: 25px;
    }

    /* ---heroSection--- */

    .ownNameHeader div p:nth-child(2) {
        font-size: 16px;
    }

    .purpleShadowHeroSection {
        width: 350px;
    }

    .greenShadowHeroSection {
        width: 350px;
    }

    .lineOne {
        width: 70px;
    }

    /* --------aboutSection-------- */

    .aboutFeatures {
        width: 330px;
    }

    .aboutCharacter {
        width: 300px;
    }

    .aboutWave {
        bottom: 6%;
    }

    /* --------skillsSection-------- */

    .skillsContent>p {
        width: 330px;
    }

    .iconsDiv {
        gap: 50px;
    }

    .skillIcon {
        width: 60px;
        height: 60px;
    }

    /* --------portfoliosSection-------- */

    .portfolioGrid>div {
        width: 100%;
    }

    .portfolioCard {
        width: 100%;
    }

    /* --------contactSection-------- */

    .contactHeadingRow::after {
        right: -85%;
    }

    /* --------legalNoticeSection-------- */
    /* .legalNoticeSection {
        min-height: calc(100vh - 230px);
    } */

    .privacyPolicySection h1 {
        font-size: 25px;
    }
}

@media (max-width: 400px) {
    .ownNameHeader div p:nth-child(1) {
        font-size: 36px;
    }

    /* --------aboutSection-------- */

    #aboutSection {
        padding-left: 25px !important;
    }

    /* --------skillsSection-------- */

    .iconsDiv {
        gap: 40px;
    }

    /* ---portfolioSection--- */

    .laptopPreviewOverlayText h3 {
        font-size: 20px;
    }

    .laptopPreviewOverlayText p {
        font-size: 14px;
    }

    .githubButton,
    .liveDemoButton {
        font-size: 14px;
    }
}

@media (max-width: 360px) {

    .ownNameHeader div p:nth-child(1) {
        font-size: 33px;
    }

    .ownNameHeader .iam {
        font-size: 20px;
        padding: 0px;
    }

    /* --------aboutSection-------- */

    #aboutSection {
        padding-left: 16px !important;
    }

    .aboutCharacter {
        width: 250px;
        left: -10%;
    }

    .aboutWave {
        bottom: 10%;
    }

    .aboutFeatures {
        width: 300px;
    }

    .skillsContent>p {
        width: 300px;
    }

    /* ---portfolioSection--- */

    .laptopPreviewOverlayText {
        padding: 4px 4px;
    }


}

@media (max-width: 340px) {
    .ownNameHeader div p:nth-child(1) {
        font-size: 30px;
    }

    .skillsContent>p {
        width: 280px;
    }

    /* ---portfolioSection--- */

    .laptopPreviewOverlayText {
        height: 61%;
    }

    .laptopPreviewOverlayButtons {
        height: 39%;
    }
}

@media (min-width: 1100px) {
    section {
        padding-left: 80px;
        padding-right: 80px;
    }

    header {
        padding-left: 80px;
        padding-right: 80px;
    }

    /* ---header/nav--- */

    nav {
        display: flex;
    }

    .nameLogo {
        margin-left: 10px;
    }

    /* ---heroSection--- */
    .ownNameHeader {
        gap: 35px;
    }

    .ownNameHeader div p:nth-child(1) {
        font-size: 100px;
    }

    .ownNameHeader div p:nth-child(2) {
        font-size: 55px;
    }

    .ownNameHeader .iam {
        font-size: 78px;
    }

    .scrollDownContainer {
        display: flex;
    }

    /* ---portfolioSection--- */

    .laptopPreviewOverlayText h3 {
        font-size: 22px;
    }

    .laptopPreviewOverlayText p {
        font-size: 16px;
    }

    .githubButton,
    .liveDemoButton {
        font-size: 16px;
    }
}

@media (min-width: 1300px) {
    section {
        padding-left: 100px;
        padding-right: 100px;
    }

    header {
        padding-left: 100px;
        padding-right: 100px;
    }

    /* ---heroSection--- */

    .ownNameHeader div p:nth-child(1) {
        font-size: 110px;
    }

    .ownNameHeader div p:nth-child(2) {
        font-size: 50px;
    }

    .ownNameHeader .iam {
        font-size: 80px;
    }

    .aboutGlow {
        top: 20px;
    }

    /* ---portfolioSection--- */

    .laptopPreviewOverlayText h3 {
        font-size: 28px;
    }

    .laptopPreviewOverlayText p {
        font-size: 20px;
    }

    .githubButton,
    .liveDemoButton {
        font-size: 20px;
    }
}

@media (min-width: 1400px) {
    .ownNameHeader div p:nth-child(1) {
        font-size: 128px;
    }

    .ownNameHeader div p:nth-child(2) {
        font-size: 64px;
    }

    .ownNameHeader .iam {
        font-size: 90px;
    }

    .aboutCharacter {
        top: 24%;
        max-width: 650px;
    }

}

/* ----------------------------min-width: 1600px------------------------- */

@media (min-width: 1600px) {
    /* general  */

    h2 {
        font-size: 95px;
    }

    p {
        font-size: 16px;
    }

    section {
        padding-left: 150px;
        padding-right: 150px;
    }

    header {
        padding-left: 150px;
        padding-right: 150px;
    }

    .greenShadowHeroSection {
        right: -20%;
    }

    .purpleShadowHeroSection {
        left: -15%;
    }

    /* ---aboutSection--- */

    .aboutCharacter {
        width: 700px;
    }

    .aboutGlow {
        width: 900px;
    }

    /* ---skillsSection--- */

    .skillIcon {
        width: 80px;
        height: 80px;
    }

    .iconsDiv {
        gap: 85px;
    }

    .iconsSkillSection {
        gap: 65px;
    }

    .skillsContent>p {
        width: 430px;
    }

    /* ---portfolioSection--- */

    .laptopPreviewOverlayText h3 {
        font-size: 32px;
    }

    .laptopPreviewOverlayText p {
        font-size: 23px;
    }

    .githubButton,
    .liveDemoButton {
        font-size: 23px;
    }
}

/* ----------------------------min-width: 1900px------------------------- */

@media (min-width: 1900px) {
    /* general  */

    h2 {
        font-size: 120px;
    }

    p {
        font-size: 20px;
    }

    section {
        padding-left: 0px;
        padding-right: 0px;
    }

    header {
        padding-left: 200px;
        padding-right: 200px;
    }

    .greenShadowHeroSection {
        right: -15%;
    }

    .purpleShadowHeroSection {
        left: -12%;
    }

    /* ---aboutSection--- */

    .aboutContent {
        max-width: 650px
    }

    .aboutFeatureIcon img {
        width: 32px;
    }

    .aboutGlow {
        width: 900px;
        top: 140px;
    }

    .aboutCharacter {
        width: 770px;
        top: 10%;
    }

    /* ---skillsSection--- */

    .skillIcon {
        width: 100px;
        height: 100px;
    }

    .iconsDiv {
        gap: 95px;
    }

    .iconsSkillSection {
        gap: 72px;
    }

    .skillsContent>p {
        width: 500px;
    }

    .skillsLookingFor>p:first-child {
        font-size: 40px !important;
    }

    .skillIconTextDiv {
        font-size: 16px;
    }

    .skillsCtaBtn {
        font-size: 26px;
    }

    /* ---portfolioSection--- */

    .portfolioHeader {
        max-width: 600px;
    }

    .portfolioHeading::before {
        left: -205%;
        width: 200%;
    }

    .portfolioGlowGreen {
        width: 500px;
    }

    .portfolioGlowBlue {
        width: 500px;
    }

    /* ---contactSection--- */

    .contactLeftTitle {
        font-size: 28px;
    }

    .contactInput {
        font-size: 18px;
    }

    .contactTextarea {
        font-size: 18px;
    }

    .contactCheckboxRow {
        font-size: 16px;
    }

    .contactSubmitBtn {
        font-size: 20px;
    }

    .contactGlow {
        width: 600px;
    }

    .contactLeftAccent {
        left: -158%;
        width: 150%;
    }
}